section.app
  div.content
    div.app__inner
      article.text
        h2.title Rappresent your life with a simple photo
        div.desc-wrap
          p.desc
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            |incididunt ut labore et dolore
            br 
            |magna aliqua. Ut 
            strong enim ad minim 
            |veniam, quis 
            br
            |nostrud exercitation ullamco laboris nisi 
            br
            |ut aliquip ex ea commodo consequat.
        a.button.text__button get started
      img.app__img(src="images/hand.png" alt="iphone in hand")  