section.community
  div.content
    div.community__inner
      div.community__box
        img.community__box-img(src="images/footer-logo.png" alt="Green logo")
        h2.community__box-title our community
        p.community__box-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      div.community__sl
        div.community__sl-slide
          img(src="images/community-img.jpg" alt="Photo")
        div.community__sl-slide
          img(src="images/community-img2.jpg" alt="Photo")
        div.community__sl-slide
          img(src="images/community-img3.jpg" alt="Photo")
        div.community__sl-slide
          img(src="images/community-img4.jpg" alt="Photo")
        div.community__sl-slide
          img(src="images/community-img5.jpg" alt="Photo")
        div.community__sl-slide
          img(src="images/community-img6.jpg" alt="Photo")
        div.community__sl-slide
          img(src="images/community-img7.jpg" alt="Photo")                