section.design
  div.content
    div.design__inner
      img.design__img(src="images/iPhone.png" alt="iPhone 5c green")
      div.design__sl
        div.design__sl-slide
          article.text
            h2.title DESIGN
            div.desc-wrap
              p.desc
                |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                |incididunt ut labore et dolore
                br 
                |magna aliqua. Ut 
                strong enim ad minim 
                |veniam, quis 
                br
                |nostrud exercitation ullamco laboris nisi 
                br
                |ut aliquip ex ea commodo consequat.
            a.button.text__button learn more
        div.design__sl-slide
          article.text
            h2.title DESIGN
            div.desc-wrap
              p.desc
                |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                |incididunt ut labore et dolore
                br 
                |magna aliqua. Ut 
                strong enim ad minim 
                |veniam, quis 
                br
                |nostrud exercitation ullamco laboris nisi 
                br
                |ut aliquip ex ea commodo consequat.
            a.button.text__button learn more
        div.design__sl-slide
          article.text
            h2.title DESIGN
            div.desc-wrap
              p.desc
                |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                |incididunt ut labore et dolore
                br 
                |magna aliqua. Ut 
                strong enim ad minim 
                |veniam, quis 
                br
                |nostrud exercitation ullamco laboris nisi 
                br
                |ut aliquip ex ea commodo consequat.
            a.button.text__button learn more      