footer.footer
  div.content
    div.footer__inner
      nav.footer__menu
        a.footer__menu-link(href="#") credits
        a.footer__menu-link(href="#") privacy 
        a.footer__menu-link(href="#") our teams
      div.copyright-wrapper
        p.copyright Copyright by phototime - all right reserved
      img.footer__logo(src="images/footer-logo.png" alt="Footer logo")