header.header
  div.header__inner
    div.menu-toggle
      div.menu-toggle__line
      div.menu-toggle__line
      div.menu-toggle__line
    nav.menu
      a.menu__link(href="#") HOME
      a.menu__link(href="#") photoapp
      a.menu__link.logo(href="#")
        img(src="images/header-logo.png", alt="Logo")
      a.menu__link(href="#") design
      a.menu__link(href="#") download
nav.mobile-menu
  ul
    li
      a.mobile-menu__link(href="#") HOME
    li  
      a.mobile-menu__link(href="#") photoapp
    li 
      a.mobile-menu__link(href="#") design
    li  
      a.mobile-menu__link(href="#") download      