section.home
  div.content
    include _header
    div.home__inner
      div.home__box
        h1.main-title your life , a photo
          span print your life in a simple photo
        a.button(href="#") get started
      div.social
        a.social__link(href="#")
         i.fa.fa-twitter(aria-hidden="true")
        a.social__link(href="#")
         i.fa.fa-flickr(aria-hidden="true")
        a.social__link(href="#")
         i.fa.fa-dribbble(aria-hidden="true")  


