section.subscribe
  div.content
    div.subscribe__inner
      h2.subscribe__title subscribe to us community
      form(action="#").subscribe__form
        input.subscribe__form-input(type="email" placeholder="your email")
        button.subscribe__form-submit
          i.fa.fa-check(aria-hidden="true")