.design {
    width: 100%;
    &__inner {
        display: flex;
        justify-content: flex-end;
        padding: 146px 0 88px 0;
    }
    &__img {
        position: absolute;
        left: 2%;
        bottom: -37%;
    }
    &__sl {
        width: 100%;
        max-width: 432px;
        height: 100%;
        max-height: 325px;
        overflow: hidden;
        .slick-list {
            height: 100%;
            .slick-slide {
                height: 100%;
            }
        }
    }
}

.prev, .next {
    position: absolute;
    opacity: 1;
    font-size: 30px;
    color: $black;
    z-index: 1001;
    cursor: pointer;
}

.design__sl-prev {
    left: 0;
    bottom: 0;
}

.design__sl-next {
    left: 5%;
    bottom: 0;
}

.prev:hover, .next:hover {
    color: $green;
    transition: .6s;
}

@media (max-width: 800px) {
    .design__img {
        display: none;
    }

    .design__inner {
        justify-content: center;
    }
}