.home {
    width: 100%;
    background: url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    &__inner {
        padding: 26px 0 22px 0;
    }
}

.content {
    width: 100%;
    max-width: 1065px;
    margin: 0 auto;
    padding: 0 20px;
}

.home__box {
    padding: 178px 0 238px 0;
    text-align: center;
}

.main-title {
    margin-bottom: 46px;
    color: #fff;
    font-family: GothamRounded;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    span {
        margin-top: 10px;
        display: block;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 2.4px;
        text-transform: lowercase;
    }
}

.button {
    padding: 18px 30px;
    color: #fff;
    font-family: GothamRounded;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    background-color: $green;
    border: 1px solid $green;
    border-radius: 3px;
    &:hover {
        color: $green;
        background-color: rgba(#fff, .9);
        transition: .5s;
    }
}

.social {
    margin: 0 auto;
    text-align: center;
    &__link {
        margin-right: 16px;
        color: #fff;
        font-size: 26px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: $green;
            transition: .5s;
        }
    }   
}

@media (max-width: 600px) {
    .home__box {
        padding: 100px 0 200px 0;
    }
    
    .main-title {
        font-size: 26px;
    }
}

@media (max-width: 440px) {
    .main-title {
        font-size: 20px;
        span {
            font-size: 12px;
        }
    }
}