.subscribe {
    width: 100%;
    background: url(../images/subscribe-bg.jpg) no-repeat;
    background-size: cover;
    &__inner {
        padding: 350px 0 296px 0;
    }
    &__title {
        color: #fff;
        font-family: GothamRounded;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3.6px;
    }
    &__form {
        display: flex;
        width: 100%;
        max-width: 346px;
        margin: 29px auto;
    }
    &__form-input {
        width: 100%;
        max-width: 279px;
        padding: 22px 22px 20px 20px;
        border: 1px #fff solid;
        border-radius: 3px 0 0 3px;
        background-color: #fff;
        outline: none;
        color: $black;
        font-family: GothamRounded;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        &::placeholder {
            color: $black;
            font-family: GothamRounded;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 2.4px;
        }
        &:focus {
            border-color: $green;
        }
    }
    &__form-submit {
        padding: 4px 18px 0 21px;
        border: 1px $green solid;
        border-radius: 0 3px 3px 0;
        background-color: $green;
        cursor: pointer;
        .fa {
            color: #fff;
            font-size: 23px;
        }
        &:hover {
            background-color: darken($color:$green, $amount: 10);
            border-color: darken($color:$green, $amount: 10);
            transition: .5s;
        }
    }
}

@media (max-width: 800px) {
    .subscribe__inner {
        padding: 250px 0 200px 0;
    }
}